body {
    -webkit-app-region: drag;
    display : grid;
    background-color: #F5F5F5;
    font-family : Londrina Shadow;
 }

 #menu {
    position: fixed;
    right: 0;
    top: 50%;
    width: 8em;
    margin-top: -2.5em;
  }


.app {
    height: 100%;
    display: grid;
    grid-template-rows: 10fr 45px;
    background-color: #F5F5F5;
    grid-template-columns: 200px 1fr;
  }

  header {
    color : white;
    grid-column: 1/-1;
  }

  aside {
    height: 100%;
    width : 30%;
    background-color: #5A8060;
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
  }

  aside a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #F1F1F1;
    display: block;
    transition: 0.3s;
  }

  aside a:hover {
    font-weight: bold;
  }

  main {
    background-color: #F5F5F5;
  }
